.search-header{
    padding: 15px;
    border: 0 solid #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    margin-left: 0;
    margin-right: 0;
}

.table .table{
    background-color: #eaeaea00;
}

.table > div{
    padding: 0px
}

.table-bordered{
    border: 0px;
}

.sorting_asc{
    display: none;
}

.table-bordered td, .table-bordered th {
    border: 0px solid #ffffff !important;
}

.input-group.input-group-default.fixe-size{
    display: -webkit-box;
}

.fixe-size>select>span.select2{
    width: 100%;
}

.input-group.fixe-size > .select2-container--bootstrap,
.input-group > .select2-container--bootstrap .input-group-btn,
.input-group > .select2-container--bootstrap .input-group-btn .btn {
  width: 80% !important;
}

.card-header{
    border-top-color: #00d0ff;
    border-top-width: 3px;
}